<div class="container">
  <div class="">
    <!-- Items List -->

    <div
      class="card"
      cdkDropList
      #storeList="cdkDropList"
      [cdkDropListData]="items"
      [cdkDropListConnectedTo]="bucketList"
      (cdkDropListDropped)="onItemDropped($event)"
    >
      <h3>Store</h3>
      <div *ngFor="let item of items" cdkDrag>
        {{ item.name }} (Count: {{ item.count }})
      </div>
    </div>

    <!-- Bucket List -->
    <div
      class="card p-3"
      cdkDropList
      #bucketList="cdkDropList"
      [cdkDropListData]="bucket"
      [cdkDropListConnectedTo]="storeList"
      (cdkDropListDropped)="onBucketDropped($event)"
    >
      <h3>Bucket</h3>
      <div *ngFor="let item of bucket" cdkDrag>
        {{ item.name }} (Count: {{ item.count }})
      </div>
    </div>
  </div>
</div>
