<div class="container">
  <div class="" *ngIf="isDataLoaded">
    <!-- Items List -->
    <h3>Bank</h3>
    <div
      class="row border-dark border p-3 mx-auto rounded-4 row-cols-2 m-3 row-cols-lg-4 g-2"
      cdkDropList
      #storeList="cdkDropList"
      [cdkDropListData]="bloodStock"
      cdkDragLockAxis="y"
      [cdkDropListConnectedTo]="bucketList"
      (cdkDropListDropped)="onItemDropped($event)"
    >
      <div
        class="border rounded-2 shadow-sm bg-light text-center"
        *ngFor="let item of bloodStock"
        [cdkDragDisabled]="checkDragable(item.group)"
        cdkDrag
      >
        <div
          class="d-flex m-1"
          [ngClass]="checkDragable(item.group) ? 'nonDragble' : 'dragable '"
        >
          <div class="w-75 fw-bold bg-light-subtle">
            {{ item.group }}
          </div>
          <div class="w-25">
            {{ item.count }}
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <form class="container w-50">
        <div class="mb-3">
          <label for="bloodGroup" class="form-label">Blood Group</label>
          <select
            id="bloodGroup"
            class="form-select"
            formControlName="bloodGroup"
            (change)="onBloodGroupChange($event)"
          >
            <option selected disabled>Select Blood Group</option>
            <option value="O-">O-</option>
            <option value="O+">O+</option>
            <option value="A-">A-</option>
            <option value="A+">A+</option>
            <option value="B-">B-</option>
            <option value="B+">B+</option>
            <option value="AB-">AB-</option>
            <option value="AB+">AB+</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="bloodRequired" class="form-label">Blood Required</label>
          <input
            type="number"
            id="bloodRequired"
            class="form-control"
            placeholder="Enter required blood amount"
            (change)="onBloodCountChange($event)"
          />
        </div>
      </form>
      <div
        class="w-50 p-1 rounded-3 border-dark border mx-auto"
        cdkDropList
        #bucketList="cdkDropList"
        [cdkDropListData]="bucket"
        cdkDragLockAxis="y"
        [cdkDropListConnectedTo]="storeList"
        (cdkDropListDropped)="onBucketDropped($event)"
      >
        <h5 class="text-center border-dark font-monospace border-bottom">
          Bucket
        </h5>
        <div
          class="border mt-2 rounded-2 shadow-sm bg-light dragable text-center d-flex"
          *ngFor="let item of bucket"
          cdkDrag
        >
          <div class="w-75 fw-bold bg-light-subtle">
            {{ item.group }}
          </div>
          <div class="w-25">
            {{ item.count }}
          </div>
        </div>
      </div>
    </div>

    <!-- Bucket List -->
  </div>
</div>
